.idea/
*.gem
.rvmrc
Gemfile
Gemfile.lock
Rakefile
app/
config.ru
config/application.rb
config/boot.rb
config/database.yml
config/environment.rb
config/environments/
config/initializers/backtrace_silencers.rb
config/initializers/inflections.rb
config/initializers/mime_types.rb
config/initializers/secret_token.rb
config/initializers/session_store.rb
config/locales/
config/routes.rb
db/
doc/
lib/tasks/
log/
public/
script/
test/
tmp/
vendor/
